<header>
  <nav class="container">
    <div class="row">
      <div class="col-12">
        <div class="flex-wrapper">
          <ul>
            <li>
              <a routerLink="/home" title="Home">
                <img src="../../../assets/images/dcs-logo.svg" />
              </a>
          </ul>
          <ul *ngIf="isLoggedIn">
            <li>
              <a routerLink="/users" routerLinkActive="active">Users</a>
            </li>
            <li>
              <a routerLink="/products" routerLinkActive="active">Products</a>
            </li>
            <li>
              <a routerLink="/order" routerLinkActive="active">Order</a>
            </li>
            <li>
              <span (click)="logout()">logout</span>
            </li>
            <li>
              <span (click)="setLocale('de')">DE</span>
            </li>
            <li>
              <span (click)="setLocale('en')">EN</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
