<div class="row">
  <div class="col-12">
    <h2>Products List</h2>
  </div>
  <div class="col-12">
    <div class="box" *ngIf="showData; else loader">
      <table class="table">
        <thead>
          <tr>
            <th>Article Number</th>
            <th>Label</th>
            <th>Price</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; trackBy:trackByIdentifier">
            <td>{{ product.articleId }}</td>
            <td>{{ product.label }}</td>
            <td>{{ product.price | currency:'EUR':'symbol' }}</td>
            <td class="actions">
              <a routerLink="/products/{{ product.id }}/edit"><span class="fas fa-pencil">FA PENCIL</span></a>&nbsp;
              <a role="button" (click)="removeProduct(product)"><span class="fas fa-times">FA TIMES</span></a>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-12">
    <div class="box error" *ngIf="error">
      <p>Error!</p>
      <p>Status: {{ error.status }}</p>
      <p>Message: {{ error.message }}</p>
    </div>
  </div>

  <div class="col-12">
    <ng-template #loader>
      <div>loading...</div>
    </ng-template>

    <div class="updating" *ngIf="updating">
      Deleting product ...
    </div>
  </div>

  <div class="col-12">
    <div class="button-container">
      <a routerLink="/products/new" class="btn">Create Product</a>
    </div>
  </div>

</div>
