<div class="row">
  <div class="col-12">
    <h2>Users List</h2>
  </div>
  <div class="col-12">
    <div class="box" *ngIf="showData; else loader">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; trackBy:trackByIdentifier">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td class="actions">
              <a routerLink="/users/{{ user.id }}/edit"><i class="far fa-pencil">FA PENCIL</i></a>&nbsp;
              <a role="button" (click)="removeUser(user)"><i class="far fa-times">FA TIMES</i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12">

    <ng-template #loader>
      <div>loading...</div>
    </ng-template>

    <div class="updating" *ngIf="updating">
      Deleting user ...
    </div>

    <div class="error" *ngIf="error">
      <p>Error!</p>
      <p>Status: {{ error.status }}</p>
      <p>Message: {{ error.message }}</p>
    </div>
  </div>
  <div class="col-12">
    <div class="button-container">
      <a routerLink="/users/new" class="btn">Create User</a>
    </div>
  </div>
</div>

